.feedback {
  --height: 30px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  place-content: center;
  /* align-items: center; */
}

.feedback .item {
  font-weight: 500;
  font-size: 1.2em;
  padding: 5px;
  width: max-content;
  display: flex;
  left: 40%;
  position: relative;
}


.feedback .item img {
  width: var(--height);
  height: var(--height);
}

.feedback .item span {
  line-height: var(--height);
  padding: 0 10px;
  display: inline-block;
}