registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=[base64-access-token]
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=[email]
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=[base64-access-token]
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=[email]
; end auth token