<main>
  <!-- Initial view of web app -->
  <initial-page
    *ngIf="pageHidden['Initial']"
    (initFaceLivenessDetector)="initFaceLivenessDetector($event)"
  ></initial-page>

  <!-- Face Liveness Detector view -->
  <liveness-detector-page
    *ngIf="pageHidden['LivenessDetector']"
    [livenessOperationMode]="livenessOperationMode"
    [action]="action"
    [file]="verifyImage"
    (retryFaceLivenessDetection)="fetchFailureCallback($event)"
    (displayResult)="displayResult($event)"
  ></liveness-detector-page>

  <!-- Result display view -->
  <result-page
    *ngIf="pageHidden['Result']"
    [livenessCondition]="livenessCondition"
    [livenessText]="livenessText"
    [recognitionCondition]="recognitionCondition"
    [recognitionText]="recognitionText"
    (continueLivenessDetection)="continueLivenessDetection()"
  ></result-page>

  <!-- Retry display view (in case of token generation failure) -->
  <retry-page
    *ngIf="pageHidden['Retry']"
    [errorMessage]="errorMessage"
    (retryFaceLivenessDetection)="continueLivenessDetection()"
  ></retry-page>
</main>
